<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.smartfarming_pascapanen">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartFarming_PascaPanen"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Pengolahan.PengolahanJelek.MetodeKering.MetodeKeringSortingJelekTambahDataTanpaFermentasi"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".GudangStok.HistoryPenjualanKopi.HistoryPenjualanKopi"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".GudangStok.JualKopi.TambahDataPenjualanKopi"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".GudangStok.JualKopi.GudangStokPenjualanKopi"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".GudangStok.GudangStokTambahData.GudangStokTambahData"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".GudangStok.GudangStok"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Pengolahan.PengolahanJelek.MetodeKering.MetodeKeringSortingJelekTambahData"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Pengolahan.PengolahanJelek.MetodeBasah.MetodeBasahSortingJelekTambahData"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Pengolahan.PengolahanJelek.PengolahanJelek"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Informasi.InformasiCuaca"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Pengolahan.PengolahanBagus.MetodeKering.MetodeKeringSortingBagusTambahData"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Pengolahan.PengolahanBagus.MetodeBasah.MetodeBasahSortingBagusTambahData"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Pengolahan.PengolahanBagus.PengolahanBagus"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".RawData.Sorting.InputDataSorting"
            android:exported="false" />
        <activity
            android:name=".RawData.Sorting.DashboardSorting"
            android:exported="false" />
        <activity
            android:name=".RawData.MenuRaw"
            android:exported="false" />
        <activity
            android:name=".RawData.InputRawData"
            android:exported="false" />
        <activity
            android:name=".FinishGoods"
            android:exported="false" />
        <activity
            android:name=".RawData.Raw"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>